
.custom-file-input {
    display: inline-block;
    font-size: 0.95rem;
    color: #fff;
    background-color: #1408ffc2;
    border: none;
    border-radius: 8px;
    cursor: pointer
  }
  
  .custom-file-input:hover {
    background-color: #1408ffc2;
  }
  
  .custom-file-input::file-selector-button {
    font-weight: bold;
    background-color: #6c63ff;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
@media (min-width: 500px) {
  .selldiv{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.selltxt{
    width: 214px !important;
}

  
}
@media (max-width: 430px) {
  .selldiv {
    flex-direction: column;
    gap: 15px;
  }

  .selltxt {
    width: 100% !important;
  }

  .selbox {
    min-width: 90vw !important;
    padding: 20px 15px !important;
  }
}

  